{% extends 'music/base.html' %}

<title>{% block title %} Album Detail {% endblock %} </title>

{% block body %}
    <img src="{{ album.album_logo }}">

    <H1> {{album.album_title}} </H1>

    <H3> {{album.artist}} </H3>
   {% if error_message %}
       <p><strong> {{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'music:favorite' album.id %}" method="Post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value= "{{ song.id }}" />
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRKWyDkdpVqjjtQcdV2n4MWaJB9WNkPo0CKvFhN9vSufr5HgNl"/>
            {% endif %}
        </label>  <br>
        {% endfor %}
        <input type="submit" value="favorite">

    </form>
{% endblock %}